[Unit]
Description=Timer: CHAD Trade Closer every 60 seconds

[Timer]
OnCalendar=*:*:30
AccuracySec=5
Persistent=true
Unit=chad-trade-closer.service

[Install]
WantedBy=timers.target
